<div class="container">
  <div class="litformbox">
    <h4>Recuperación de contraseña</h4>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Digite su correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Si tu email esta registrado, te llegará un enlace de recuperación</small>
      </div>
      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Recuperar</button>
    </form>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hemos enviado un enlace de recuperación al correo que ingresaste
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
