<div class="container contentbox ">
  <img src="../../../assets/Soportegrande.jpg" class="img-fluid image-radius" alt="Responsive image">
  <div class="text-over">
  <h2>Nuestros servicios en línea</h2>
  <a href="">Consultar citas</a><br/>
  <a href="">Pedir/Cancelar cita o pedir certificado</a><br/>
  </div>
</div>


<!--
    <div class="row">
    <div class="col">
      <img src="../../../assets/Soporte.jpg" class="img-fluid image-radius" alt="Responsive image">
    </div>
    <div class="col">
      <img src="../../../assets/Soporte.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
-->
